<!DOCTYPE html>
<html>
<head>

	<title>{% block title %} {% endblock %}</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<style>
		header h1{
		color: #ec0000;
		}

		main {
			min-width: 20em;
			max-width: 40em;
			margin: 0 auto;
		}

		#buildings-container {
			display:grid;
			grid-template-columns: 50% 50%;
		}

		.building {
			margin: 1em 0em 1em 0em;
		}

		.building .buildyear {
			display: block;
		}
	</style>
	{% block css %} {% endblock %}
</head>
<body>
	{% block body %}
    {% endblock %}
    <script src="js/bundle.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
