{% extends "includes/main.html" %}

{% block title %} 
   {{ config.title }}
{% endblock %}

{% block body %}
    {% include 'includes/toolbar.html' %}
    
    <h1> {{ title }} </h1> 
    {% if year %}
    <h2> In het jaar {{ year }} zijn er {{ buildings.length }} gebouwen gebouwt </h2>
    {% else %}
    <h2> In totaal zijn er {{ buildings.length }} gebouwen gebouwt in amsterdam</h2>
    {% endif %}

    <section id=buildings-container>
        {%for building in buildings %}
        <div class=building>
            <h3>{{ building.label.value }}</h3>
                {% if building.earliestBegin.value  %}
                <div class=buildyear>Gebouwt in 
                {{ building.earliestBegin.value }}</div> 
            {% endif %}
            {% if  building.earliestEnd.value  %}
            Gesloopt in 
                {{ building.earliestEnd.value }} 
            {% endif %}
        </div> 
        {% endfor %}
    </section>
<div id="test" class="inactivemap"></div>           

{% endblock %}